@charset "UTF-8";
.fixed-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: solid 1px #ddd;
  background: rgba(255, 255, 255, 0.8);
}
.fixed-bottom-nav .container {
  padding: 0;
}
.fixed-bottom-nav ul {
  list-style: none;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
}
.fixed-bottom-nav li {
  display: table-cell;
  vertical-align: middle;
}
.fixed-bottom-nav a {
  display: block;
  padding: 4px 0 4px;
  text-align: center;
  text-decoration: none;
  color: #888;
  white-space: nowrap;
}
.fixed-bottom-nav i {
  font-size: 20px;
}
.fixed-bottom-nav span {
  display: block;
  font-size: 10px;
}
.fixed-bottom-nav .active {
  color: #FF0057;
}
/*.fixed-bottom-nav .active i{color: inherit;}*/
/*.fixed-bottom-nav .active span{color: inherit;}*/
