@charset "UTF-8";
.nav-slide,
.nav-slide ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0px;
}
.nav-slide {
  padding: 5px 0;
  border: solid #ddd;
  border-width: 1px 0;
  white-space: nowrap;
  overflow: auto;
  background: #fff;
  margin-top: -1px;
}
.nav-slide li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 5px 10px;
  color: #888888;
}
.nav-slide li a {
  display: block;
  padding: 5px 10px;
  margin: -5px -10px;
  text-decoration: none;
  color: #555555;
}
.nav-slide .active {
  color: #FFFFFF;
  background: #84D4FF;
  border-radius: 3px;
}
