@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
/*背景*/
html {
  background: #ffffff;
}
/*2014.05.19 - 颜色与字体一起*/
/*html{color: #333}*/
/*2014.05.18 - 这样就无法继承了*/
/*
*{color: #333}
*/
/*字体、颜色*/
/*2014.05.19 input等这些元素有默认值，比继承优先*/
html,
input,
select,
textarea,
button,
th {
  /*font: 14px/1.5 "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;*/
  /*font: 16px/1.5 "Microsoft YaHei",Helvetica,"Helvetica Neue","Trebuchet MS",Arial,sans-serif; color: #555;*/
  font: 14px/1.5 'Open Sans', 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft Yahei', sans-serif;
  color: #333;
}
/* 链接 */
a {
  text-decoration: none;
  color: #3BB5F7;
}
/*a:hover{text-decoration: underline}*/
/*a:active{text-decoration: overline}*/
/*触摸点击高亮颜色*/
html {
  -webkit-tap-highlight-color: transparent;
}
/*2014.06.20 - 见表单部分*/
/*
input:focus,
select:focus,
textarea:focus,
button:focus{outline:0}
*/
img {
  border: none;
}
input[type="radio"],
input[type="checkbox"] {
  width: 1em;
  cursor: pointer;
}
