@charset "UTF-8";

/*
table.table{}
table.table.table-rainbow{}
*/
table{border-collapse:collapse; border-spacing:0}
th{text-align: left}

.table{
	/*避免ie7撑宽*/
	/**table-layout: fixed;*/
	width:100%;
}
.table th,
.table td{
	padding:.25em .25em .25em .75em;
	/* 用width无法控制宽度 */
	/*2015.08.12 仅用 max-width 缩小时会溢出*/
	/*max-width:10em;*/

	/*2014.5.27 - 隐藏的内容看不到，如按钮*/
	/*{
	overflow:hidden;
	text-overflow:ellipsis
	}*/
}
.table th:last-child,
.table td:last-child{padding-right: .75em}
.table th{
	color: #111;
	white-space: nowrap; /*2014.05.30 + 标题一般较短，不换行占位*/
}

.table td{
	border-top: solid 1px #eee;
}

/*第一行标题*/
.table tr:first-child th{background: #FCFCFC; border-bottom: solid 1px #ddd;}



/*效果*/
.table tr:not(:first-child):hover{/* outline: solid 1px #ddd; *//* outline-offset: -1px; */}
.table tr:hover td{/* background: #f7f7f7; *//* border-bottom: solid 1px #96CFE8; *//* text-shadow: 1px 1px 1px #02F0FA; */}

/*彩虹条纹*/
.table-rainbow tr:nth-child(7n+1){background: #fff}
.table-rainbow tr:nth-child(7n+2){background: #fee}
.table-rainbow tr:nth-child(7n+3){background: #ffe}
.table-rainbow tr:nth-child(7n+4){background: #efe}
.table-rainbow tr:nth-child(7n+5){background: #eff}
.table-rainbow tr:nth-child(7n+6){background: #eef}
.table-rainbow tr:nth-child(7n+7){background: #fef}

/*响应*/
.overflow-auto .table{
	border: solid 1px #ddd;
}