
/*reset.css*/
*{margin:0;padding:0}
html{background:#fff}
html,
input,
select,
textarea,
button,
th{font:14px/1.5 'Open Sans', 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft Yahei', sans-serif;color:#333}
a{text-decoration:none;color:#3BB5F7}
html{-webkit-tap-highlight-color:transparent}
img{border:none}
input[type="radio"],
input[type="checkbox"]{width:1em;cursor:pointer;vertical-align:middle}
/*dropdown-menu.css*/
.dropdown{position:relative;display:inline-block;*display:inline;*zoom:1}
.dropdown.open .dropdown-menu{display:block}
.dropdown-menu{display:none;position:absolute;top:100%;left:0;list-style:none;margin:3px 0;padding:4px 0;background:#fff;border:solid 1px #D7D7D7;border-radius:3px;box-shadow:0px 5px 15px 0 #E5E5E5;min-width:160px;margin-right:-99em;z-index:999}
.dropdown-menu li a{display:block;padding:3px 1em 3px 1.8em;text-decoration:none;color:#6B6B6B;white-space:nowrap}
.dropdown-menu li a:hover{background:#F4F4F4}
.dropdown-menu i{float:left;margin-left:-1.2em}
.dropdown-menu .float-right{margin-left:1em;color:#9E9E9E}
.dropdown-menu li.devider{border-bottom:solid 1px #eee;margin:3px 0}
.dropdown-menu-right{left:auto;right:0;margin-right:0;margin-left:-99em}
.caret{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;width:0;height:0;border:solid 3px transparent;border-bottom:0;border-top:solid 3px;margin-left:2px;margin-top:-.5ex}
/*fixed-bottom-nav.css*/
.fixed-bottom-nav{position:fixed;bottom:0;left:0;right:0;border-top:solid 1px #ddd;background:rgba(255, 255, 255, 0.8)}
.fixed-bottom-nav .container{padding:0}
.fixed-bottom-nav ul{list-style:none;display:table;table-layout:fixed;width:100%;padding:0;margin:0}
.fixed-bottom-nav li{display:table-cell;vertical-align:middle}
.fixed-bottom-nav a{display:block;padding:4px 0 4px;text-align:center;text-decoration:none;color:#888;white-space:nowrap}
.fixed-bottom-nav i{font-size:20px}
.fixed-bottom-nav span{display:block;font-size:10px}
.fixed-bottom-nav .active{color:#FF0057}
/*flex.css*/
.flex,
.flex-v{display:flex;overflow:auto}
.flex-v{flex-direction:column}
.flex>*,
.flex-v>*{flex:none;overflow:auto}
.flex-none{flex:none}
.flex-1{flex:1}
.flex-0-0-auto{flex:auto 0 0}
.flex-0-1-auto{flex:auto 0 1}
.flex-1-0-auto{flex:auto 1 0}
.flex-1-1-auto{flex:auto 1 1}
.flex-0-0{flex:0 0}
.flex-0-1{flex:0 1}
.flex-1-0{flex:1 0}
.flex-1-1{flex:1 1}
/*form.css*/
.input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.input{display:inline-block;*display:inline;*zoom:1;width:100%;height:30px;padding:0px 0.5em;vertical-align:middle;border:solid 1px #ccc;border-radius:3px;background:transparent;color:#888;box-shadow:#eee 0 1px 9px -2px inset}
textarea.input{max-width:100%;min-width:100%;height:auto}
.input-line{display:inline-block;*display:inline;*zoom:1;border:solid 1px #5da8ca;border-width:0 0 1px 0;width:100%;background:transparent;color:#888;outline:none;margin:.25em 0}
.button{display:inline-block;*display:inline;*zoom:1;padding:.25em 1em;vertical-align:middle;text-align:center;white-space:nowrap;cursor:pointer;border:1px solid #ddd;border-radius:4px;box-shadow:0px 1px 5px -2px #ccc;color:#333;background:#F9F9F9}
button.block{width:100%}
.button:focus,
.input:focus{outline:0;border-color:#bbb;box-shadow:0 0 5px 0 #DDD}
.button:hover{box-shadow:0px 1px 6px -2px #aaa}
.button:active{box-shadow:0px 1px 5px rgba(0, 0, 0, 0.25) inset}
.button.small{padding:.05em .5em}
.button.large{font-size:1.25em}
.input.small{height:25px}
.input.large{font-size:1.25em}
.label{display:inline-block;*display:inline;*zoom:1;padding:.25em 0}
.form-group{margin-bottom:1em}
.form-group{*zoom:1}
.form-group:after{content:"";display:table;clear:both}
.form-horizontal{padding-left:10em}
.form-horizontal .form-group{position:relative;line-height:2;margin-bottom:.5em}
.form-horizontal .label{position:absolute;right:100%;width:9em;margin-right:1em;text-align:right;line-height:1.5;padding-top:.25em}
.form-horizontal .input,
.form-horizontal .input-line,
.form-horizontal .controls{width:16em;max-width:100%;margin-right:.75em;margin-bottom:.5em}
.form-horizontal select.input{width:auto}
.form-inline,
.form-inline .form-group,
.form-inline .label,
.form-inline .input,
.form-inline .input-line{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
.form-inline .form-group{margin-right:.5em;margin-bottom:.35em}
.form-inline .input,
.form-inline .input-line{width:10em}
.label-none .label{display:none}
.tip{display:inline-block;*display:inline;*zoom:1;position:relative;line-height:1;padding:.25em;margin-top:.25em;border:solid 1px #bbb;border-radius:2px}
.tip:before,
.tip:after{content:"";position:absolute;right:100%;top:.25em;border:solid .375em;border-width:0 .375em .375em 0;border-bottom-color:transparent}
.tip:after{border-right-color:#fff;margin-right:-2px;margin-top:1px}
.group{vertical-align:middle;border-radius:4px}
.group-item{position:relative;display:block;border:solid 1px #bbb;border-radius:0;margin-top:-1px}
label.group-item{cursor:pointer}
button.group-item{width:100%;box-shadow:none}
.group-item:hover{z-index:1}
.group-item:focus{z-index:2}
.group-item:first-child{border-radius:4px 4px 0 0}
.group-item:last-child{border-bottom-left-radius:4px;border-bottom-right-radius:4px}
.group.horizontal{display:inline-block}
.group.horizontal:after{content:"";display:table;clear:both}
.group.horizontal .group-item{float:left;width:auto;margin-left:-1px}
.group.justified:last-child,.group.horizontal:last-child{border-radius:0}
.group.justified:first-child,.group.horizontal:first-child{border-radius:4px 0 0 4px}
.group.justified:last-child,.group.horizontal:last-child{border-top-right-radius:4px;border-bottom-right-radius:4px}
.group.justified{}
.group.justified .group-item{width:1%;white-space:nowrap;vertical-align:baseline}
.group.justified .group-item:not(:last-child){border-right-width:0}
.group.justified .group-item.input{width:100%;text-align:left}
/*list.css*/
.list{list-style:none;margin-bottom:1em;margin-top:1px}
.list-item{display:block;border:solid 1px #ddd;padding:.5em 1em;margin-top:-1px}
.list-item:first-child{border-radius:4px 4px 0 0}
.list-item:last-child{border-radius:0 0 4px 4px}
/*nav-slide.css*/
.nav-slide,
.nav-slide ul{list-style:none;margin-bottom:0;margin-top:0px}
.nav-slide{border:solid #ddd;border-width:1px 0;white-space:nowrap;overflow:auto;background:#fff;margin-top:-1px}
.nav-slide li{display:inline-block;*display:inline;*zoom:1;padding:10px 10px;color:#888;vertical-align:middle}
.nav-slide li a{display:block;padding:5px 10px;margin:-5px -10px;text-decoration:none;color:#555;vertical-align:baseline}
.nav-slide .active{color:#FFFFFF;background:#84D4FF;border-radius:3px}
/*nav.css*/
.navbar{border:solid #ddd;border-width:1px 0;overflow:auto;background:#fff;margin-top:-1px}
.navbar .nav{float:left}
.nav{list-style:none;margin:0;padding:0;white-space:nowrap;overflow:auto}
.nav li{float:left;padding:10px 10px;color:#888}
.nav li a{display:block;padding:5px 10px;margin:-5px -10px;text-decoration:none;color:#555}
.nav .active{color:#FFFFFF;background:#84D4FF;border-radius:3px}
/*pagination.css*/
.pagination{display:inline-block;*display:inline;*zoom:1}
.pagination a,
.pagination span{float:left;padding:3px 10px;border:solid 1px #ddd;margin-left:-1px;margin-top:2px}
.pagination a{color:#456;text-decoration:none}
.pagination .active{position:relative;z-index:1;border-color:#84D4FF;background:#84D4FF;color:#fff}
.pagination input{margin:-3px -10px;border:none;outline:none;background:transparent;color:#fff;width:2em;text-align:center}
.pagination>:first-child{border-radius:4px 0 0 4px}
.pagination>:last-child{border-radius:0 4px 4px 0}
/*panel.css*/
.panel{border:solid 1px #ddd;border-radius:3px}
.panel-header{padding:.375em 1em;border-bottom:solid 1px #ddd;background:#f7f7f7;border-radius:4px 4px 0 0}
.panel-body{padding:.75em 1em}
.panel-footer{border-top:solid 1px #ddd;padding:.375em 1em;background:#F9F9F9;border-radius:0 0 4px 4px}
/*path.css*/
.path{overflow:hidden;background:#f7f7f7;border-radius:4px}
.path a,
.path span{position:relative;float:left;padding:.25em .75em;color:#888}
.path a{text-decoration:none;color:#15A7ED}
.path a+a:before,
.path a+span:before{content:"/";position:absolute;left:-.25em;color:#ddd}
/*progress.css*/
.progress{background:#eee;white-space:nowrap;overflow:hidden}
.progress *{background:#59C6FF;color:#FFF;text-align:right;line-height:1em;max-width:100%;transition:0.1s}
/*search-form.css*/
.search-form{position:relative;width:250px;display:inline-block;*display:inline;*zoom:1}
.search-form input{width:100%;padding:10px;border:solid 1px #d9d9d9;border-radius:4px;outline:none}
.search-form input:focus{width:100%;box-shadow:none;border-color:#bbb}
.search-form button{position:absolute;right:0;top:0;bottom:0;padding:0 .75em;background:none;border:0}
/*selection.css*/
::selection{background:#576268;color:#fff}
::-moz-selection{background:#576268;color:#fff}
/*sidebar.css*/
.sidebar{float:left;background:#333E42;width:250px;height:100%;overflow:auto;transition:.5s}
.sidebar-header{padding:16px 1em;color:#fff;border-bottom:solid 1px #bbb}
ul.sidebar-menu,
.sidebar-menu ul{list-style:none;margin:0;padding:0}
.sidebar-menu ul{}
.sidebar-menu li li{}
.sidebar-menu li{padding-left:1em;line-height:2.5em;color:#ddd}
.sidebar-menu li.divider{padding:.25em .5em;background:#ddd;color:#000000}
.sidebar-menu li a{display:block;margin-left:-1em;padding-left:1em;color:#fff;border-radius:5px 0 0 5px}
.sidebar-menu li a:hover{background:#666}
.sidebar-menu li a.active{background:#fff;color:#333}
.sidebar{display:flex;flex-direction:column;height:100%}
.sidebar-header{flex:none}
.sidebar-menu{flex:1 1 auto;overflow:auto}
/*small-part.css*/
.badge{display:inline-block;*display:inline;*zoom:1;padding:0 0.25em;line-height:1.25;font-size:.9em;vertical-align:middle;border-radius:9em;background:#13B1FF;color:#fff;font-style:normal}
.badge-right .badge{position:absolute;top:10px;right:4px}
.badge-top-right .badge{position:absolute;top:0;right:0}
/*table.css*/
table{border-collapse:collapse;border-spacing:0}
th{text-align:left}
.table{width:100%}
.table th,
.table td{padding:.25em .25em .25em .75em}
.table th:last-child,
.table td:last-child{padding-right:.75em}
.table th{color:#111;white-space:nowrap}
.table td{border-top:solid 1px #eee}
.table tr:first-child th{background:#FCFCFC;border-bottom:solid 1px #ddd}
.table tr:not(:first-child):hover{}
.table tr:hover td{}
.table-rainbow tr:nth-child(7n+1){background:#fff}
.table-rainbow tr:nth-child(7n+2){background:#fee}
.table-rainbow tr:nth-child(7n+3){background:#ffe}
.table-rainbow tr:nth-child(7n+4){background:#efe}
.table-rainbow tr:nth-child(7n+5){background:#eff}
.table-rainbow tr:nth-child(7n+6){background:#eef}
.table-rainbow tr:nth-child(7n+7){background:#fef}
.overflow-auto .table{border:solid 1px #ddd}
/*tabs.css*/
.tabs{border-bottom:solid 1px #ddd}
.tabs{*zoom:1}
.tabs:after{content:"";display:table;clear:both}
.tabs-header,
.tab{float:left;padding:.375em .75em}
.tabs-header{color:#000}
.tab{cursor:pointer}
.tab.active{border:solid 1px #ddd;border-radius:4px 4px 0 0;margin:-1px;border-bottom-color:#fff;background:#fff}
/*top-bar.css*/
.top-bar{padding:6px 0;line-height:1;border-bottom:solid 1px #eee;background:#f7f7f7}
.top-bar a{margin:0 5px;color:#A3A3A3;font-size:13px}
.top-bar a:first-child{margin-left:0}
.top-bar a:last-child{margin-right:0}
.top-bar a:hover{color:#0af}
/*width-sticky-footer.css*/
html.width-sticky-footer{position:relative;min-height:100%}
.width-sticky-footer body{padding-bottom:60px;margin-bottom:1em}
.width-sticky-footer .footer{position:absolute;bottom:0;left:0;right:0}
html.width-sticky-footer{*height:100%}
.width-sticky-footer body{*position:relative;*min-height:80%;_height:80%}
/*win.css*/
html.win{height:100%;display:flex}
.win body{margin:auto}
.win body{width:1450px;max-width:100%;height:860px;max-height:100%}
.win body{box-shadow:0px 5px 25px #838383;transition:.3s}
@media (max-width:1400px){
.win body{height:100%}
}
/*responsive.css*/
@media all{
}
@media (max-width:1200px){
}
@media (max-width:992px){
}
@media (max-width:768px){
}
/*sticky-footer.css*/

/*container.css*/
.container{width:960px;max-width:100%;margin:auto}
.container,
.row{*zoom:1}
.container:after,
.row:after{content:"";display:table;clear:both}
.col{float:left}
.span-1{width:8.3333%}
.span-2{width:16.6667%}
.span-3{width:25%}
.span-4{width:33.3333%}
.span-5{width:41.6667%}
.span-6{width:50%}
.span-7{width:58.3333%}
.span-8{width:66.6667%}
.span-9{width:75%}
.span-10{width:83.3333%}
.span-11{width:91.6667%}
.span-12{width:100%}
.container{padding:0 1em}
.col-pd.row{margin:0 -1em}
.col-pd.row,
.col-pd .col{padding:0 .5em}
.not-inset{margin-left:-1em;margin-right:-1em}
.pd-0{padding-left:0;padding-right:0}
.mg-tblr,.mg-a{margin:1em}
.mg-tb,.mg-v{margin-top:1em;margin-bottom:1em}
.mg-lr,.mg-h{margin-left:1em;margin-right:1em}
.mg-t{margin-top:1em}
.mg-b{margin-bottom:1em}
.mg-l{margin-left:1em}
.mg-r{margin-right:1em}
.pd-tblr,.pd-a{padding:1em}
.pd-tb,.pd-v{padding-top:1em;padding-bottom:1em}
.pd-lr,.pd-h{padding-left:1em;padding-right:1em}
.pd-t{padding-top:1em}
.pd-b{padding-bottom:1em}
.pd-l{padding-left:1em}
.pd-r{padding-right:1em}
@media all{
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.container{width:1140px}
}
@media (max-width:1200px){
.container{width:960px}
.md-1{width:8.3333%}
.md-2{width:16.6667%}
.md-3{width:25%}
.md-4{width:33.3333%}
.md-5{width:41.6667%}
.md-6{width:50%}
.md-7{width:58.3333%}
.md-8{width:66.6667%}
.md-9{width:75%}
.md-10{width:83.3333%}
.md-11{width:91.6667%}
.md-12{width:100%}
.md-hidden{display:none !important}
.md-show{display:block !important}
.md-inline{display:inline !important}
.md-inline-block{display:inline-block !important}
.md-pd-0{padding:0}
.md-not-inset{margin-left:-1em;margin-right:-1em}
}
@media (max-width:992px){
.container{width:100%}
.sm-1{width:8.3333%}
.sm-2{width:16.6667%}
.sm-3{width:25%}
.sm-4{width:33.3333%}
.sm-5{width:41.6667%}
.sm-6{width:50%}
.sm-7{width:58.3333%}
.sm-8{width:66.6667%}
.sm-9{width:75%}
.sm-10{width:83.3333%}
.sm-11{width:91.6667%}
.sm-12{width:100%}
.sm-hidden{display:none !important}
.sm-show{display:block !important}
.sm-inline{display:inline !important}
.sm-inline-block{display:inline-block !important}
.sm-pd-0{padding:0}
.sm-not-inset{margin-left:-1em;margin-right:-1em}
}
@media (max-width:768px){
.xs-1{width:8.3333%}
.xs-2{width:16.6667%}
.xs-3{width:25%}
.xs-4{width:33.3333%}
.xs-5{width:41.6667%}
.xs-6{width:50%}
.xs-7{width:58.3333%}
.xs-8{width:66.6667%}
.xs-9{width:75%}
.xs-10{width:83.3333%}
.xs-11{width:91.6667%}
.xs-12{width:100%}
.xs-hidden{display:none !important}
.xs-show{display:block !important}
.xs-inline{display:inline !important}
.xs-inline-block{display:inline-block !important}
.xs-pd-0{padding:0}
.xs-not-inset{margin-left:-1em;margin-right:-1em}
}
.container{-webkit-transition:.5s;-moz-transition:.5s;transition:.5s}
/*class.css*/
.none,.hidden{display:none}
.block{display:block}
.inline{display:inline}
.inline-block{display:inline-block;*display:inline;*zoom:1}
.table{display:table}
.table-row{display:table-row}
.table-cell{display:table-cell}
.float-none{float:none}
.float-left{float:left}
.float-right{float:right !important}
.clear{clear:both}
.clearfix{*zoom:1}
.clearfix:after{content:"";display:table;clear:both}
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}
.bold{font-weight:bold}
.del{text-decoration:line-through;color:#aaa}
.v-align:after{content:"";display:inline-block;height:100%;vertical-align:middle}
.v-top,.v-middle,.v-bottom{display:inline-block}
.v-top{vertical-align:top}
.v-middle{vertical-align:middle}
.v-bottom{vertical-align:bottom}
html.page-middle{display:table;width:100%;height:100%;table-layout:fixed}
.page-middle>body{display:table-cell;vertical-align:middle}
.block-center{display:block;margin-left:auto;margin-right:auto}
.fixed-top,
.fixed-bottom{position:fixed}
.fixed-top{top:0}
.fixed-bottom{bottom:0}
.select-none{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.overflow-auto{overflow:auto}
.break-word{word-wrap:break-word}
.break-all{word-break:break-all;word-wrap:break-word}
.nowrap{white-space:nowrap}
.text-ellipsis{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.justified{display:table !important;width:100%;box-sizing:border-box}
.justified:before,.justified:after{display:none !important}
.justified > *{display:inline-block;display:table-cell !important;*display:inline;*zoom:1;float:none !important;text-align:center}
/*color.css*/
.primary{border-color:#00AAFF;color:#00AAFF}
.success{border-color:#21D100;color:#21D100}
.warning{border-color:#FFD013;color:#FFD013}
.danger{border-color:#FF6767;color:#FF6767}
.error{border-color:#FF0000;color:#FF0000}
.info{border-color:#5AC0F0;color:#5AC0F0}
.showy{border-color:#FF6767;color:#FF6767}
.muted{border-color:#8d8d8d;color:#8d8d8d}
.money{color:#f80}
.button.primary{background:#00AAFF;color:#fff}
.button.success{background:#21D100;color:#fff}
.button.warning{background:#FFD013;color:#fff}
.button.danger{background:#FF6767;color:#fff}
.button.error{background:#FF0000;color:#fff}
.button.info{background:#5AC0F0;color:#fff}
.button.showy{background:#EB3359;color:#fff}
/*-webkit-scrollbar2.css*/
@media screen and (min-width:768px){
::-webkit-scrollbar{width:14px;height:14px}
::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{border-radius:999px;border:5px solid transparent}
::-webkit-scrollbar-track{box-shadow:1px 1px 5px rgba(0,0,0,.2) inset}
::-webkit-scrollbar-thumb{min-height:20px;background-clip:content-box;box-shadow:0 0 0 5px rgba(0,0,0,.2) inset}
::-webkit-scrollbar-corner{background:transparent}
}